doctype html
html
    head
        title hi angela
        style
            include css/main.css
    body
        div(class='container')
            h1(style='text-align:center') hi angela! what do you want to do?
            a(class='button' href='/learn')
                | I want to learn
            a(class='button' id='test' href='/test')
                | I want to test my skills!